<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="nl.x-services.plugins.calendar" version="3.2">
   <name>Calendar</name>
   <description>This plugin allows allows you to manipulate the native calendar.</description>
   <license>MIT</license>

   <info>
     You need Android SDK Version 4.0 or later.
   </info>
   
   <engines>
      <engine name="cordova" version=">=3.0.0" />
   </engines>

   <js-module src="www/Calendar.js" name="Calendar">
      <clobbers target="Calendar" />
   </js-module>

   <!-- ios -->
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="Calendar">
            <param name="ios-package" value="Calendar" />
         </feature>
      </config-file>
      <header-file src="src/ios/Calendar.h" />
      <source-file src="src/ios/Calendar.m" />
      <framework src="EventKit.framework" />
      <framework src="EventKitUI.framework" />
   </platform>
   
   <!-- android -->
   <platform name="android">
      <config-file target="config.xml" parent="/*">
         <feature name="Calendar">
            <param name="android-package" value="nl.xservices.plugins.Calendar" />
         </feature>
      </config-file>

	  <!-- need some permissions for calendar-access -->
	  <config-file target="AndroidManifest.xml" parent="/manifest">
	      <uses-permission android:name="android.permission.READ_CALENDAR" />
          <uses-permission android:name="android.permission.WRITE_CALENDAR" />
	  </config-file>
	  
	  <!-- sources: -->
      <source-file src="src/android/java/nl/xservices/plugins/Calendar.java" target-dir="src/nl/xservices/plugins" />
	  <source-file src="src/android/java/nl/xservices/plugins/Constants.java" target-dir="src/nl/xservices/plugins" />
	  
	  <source-file src="src/android/java/com/touchableheroes/gap/plugin/calendar/CalendarAction.java" target-dir="src/com/touchableheroes/gap/plugin/calendar" />
	  <source-file src="src/android/java/com/touchableheroes/gap/plugin/calendar/CalendarFacade.java" target-dir="src/com/touchableheroes/gap/plugin/calendar" />
	  <source-file src="src/android/java/com/touchableheroes/gap/plugin/calendar/CalendarHeadlessFacade.java" target-dir="src/com/touchableheroes/gap/plugin/calendar" />
	  <source-file src="src/android/java/com/touchableheroes/gap/plugin/calendar/CalendarIntentFacade.java" target-dir="src/com/touchableheroes/gap/plugin/calendar" />

	  <!-- dependencies: -->
	  <source-file src="src/android/libs/calendar-drafts-0.2.0.jar" target-dir="libs/"/>
   </platform>
</plugin>
